<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3 text-center">
      <img src="./../../assets/products.png" [routerLink]="['/products']" class="img-fluid img-thumbnail"
        alt="Responsive Image">
      <a [routerLink]="['/products']" class="btn btn-primary mt-2">Products</a>
    </div>

    <div class="col-md-4 mb-3 text-center">
      <img src="./../../assets/Users.png" [routerLink]="['/users']" class="img-fluid img-thumbnail"
        alt="Responsive Image">
      <a [routerLink]="['/users']" class="btn btn-primary mt-2">Users</a>
    </div>

    <div class="col-md-4 mb-3 text-center">
      <img src="./../../assets/City.png" [routerLink]="['/cities']" class="img-fluid img-thumbnail"
        alt="Responsive Image Link">
      <a [routerLink]="['/cities']" class="btn btn-primary mt-2">City</a>
    </div>

    <div class="col-12 text-center mt-4">
      <h1 class="text-danger"> Total no.of Updates : 10</h1>
    </div>
  </div>
</div>