<div class="container mt-5">
  <form class="row g-3" (ngSubmit)="OnSubmit()" #myForm="ngForm">
    <div class="col-md-4">
      <label for="userId" calss="form-label">UserId</label>
      <input type="number" class="form-control" id="UserId" name="userid" ngModel required
        #erruid="ngModel">
      <div>
        <small *ngIf="erruid.invalid  &&  erruid.touched" class="text-danger">*UserId is Required</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="userName" calss="form-label">UserName</label>
      <input type="text" class="form-control" id="userName" name="username" ngModel required 
        #erruname="ngModel">
      <div>
        <small *ngIf="erruname.invalid  &&  erruname.touched" class="text-danger">*User Name is Required</small>
      </div>
    </div>
    <div class="col-md-4">
      <label for="userEmail" calss="form-label">Email-Id</label>
      <input type="email" class="form-control" id="userEmail" name="useremail" ngModel  required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #erruemail="ngModel">
      <div>
        <small *ngIf="erruemail.invalid" class="text-danger">*Please enter a valid email address</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="first_name" calss="form-label">First_Name</label>
      <input type="text" class="form-control" id="first_name" name="f_name" ngModel  required pattern="^[^0-9]+$"
        #errfname="ngModel">
      <div>
        <small *ngIf="errfname.invalid" class="text-danger">*First_Name is Required and should not contain numbers</small>
      </div>
    </div>
    <div class="col-md-6">
        <label for="last_name" calss="form-label">Last_Name</label>
        <input type="text" class="form-control" id="last_name" name="l_name" ngModel  required pattern="^[^0-9]+$"
          #errlname="ngModel">
        <div>
          <small *ngIf="errlname.invalid" class="text-danger">*Last_Name is Required and should not contain numbers</small>
        </div>
      </div>
      <div class="col-md-6">
        <label for="birth_date" calss="form-label">Date_of_Birth</label>
        <input type="text" class="form-control" id="birth_date" name="date_of_birth" placeholder="yyyy-mm-dd" ngModel  required pattern="^[0-9-]+$"
          #errdob="ngModel">
        <div>
          <small *ngIf="errdob.invalid" class="text-danger">*Please enter a valid Birth date</small>
        </div>
      </div>
      <div class="col-md-6">
        <label for="City_name" calss="form-label">City</label>
        <input type="text" class="form-control" id="City_name" name="city" ngModel  required pattern="^[^0-9]+$"
          #errucity="ngModel">
        <div>
          <small *ngIf="errucity.invalid" class="text-danger">*City is Required and should not contain numbers</small>
        </div>
      </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.dirty || myForm.invalid">Update</button>
      <button type="button" class="btn btn-primary mx-3 my-3" (click)="goBack()">Back</button>
    </div>
  </form>
</div>