<div class="container mt-5">
  <form class="row g-3" (ngSubmit)="OnSubmit()" #myForm="ngForm">
    <div class="col-md-6">
      <label for="productId" calss="form-label">ProductId</label>
      <input type="number" class="form-control" id="productId" name="prodid" ngModel  required
        #errprodid="ngModel">
      <div>
        <small *ngIf="errprodid.invalid  &&  errprodid.touched" class="text-danger">*ProductId is Required</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="productName" calss="form-label">ProductName</label>
      <input type="text" class="form-control" id="productName" name="prodname" ngModel required pattern="^[^0-9]+$"
        #errprodname="ngModel">
      <div>
        <small *ngIf="errprodname.invalid" class="text-danger">*Product Name is Required and  should not contain numbers</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="productPrice" calss="form-label">ProductPrice</label>
      <input type="number" class="form-control" id="productPrice" name="prodprice" ngModel  required
        #errprodprice="ngModel">
      <div>
        <small *ngIf="errprodprice.invalid  &&  errprodprice.touched" class="text-danger">*Product Price is Required</small>
      </div>
    </div>
    <div class="col-md-6">
      <label for="productQuantity" calss="form-label">Quantity</label>
      <input type="number" class="form-control" id="productQuantity" name="prodquantity" ngModel  required
        #errprodquantity="ngModel">
      <div>
        <small *ngIf="errprodquantity.invalid  &&  errprodquantity.touched" class="text-danger">*Product Quantity is Required</small>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.dirty || myForm.invalid">Update</button>
      <button type="button" class="btn btn-primary mx-3 my-3" (click)="goBack()">Back</button>
    </div>
  </form>
</div>